<div class="repositories" layout="column" flex>
  <md-input-container>
    <label>Repository</label>
    <input ng-model="name" ng-change="repo.setName(name)">
  </md-input-container>
  <md-list flex>
    <md-subheader class="md-no-sticky">{{repos.length}} repositories found</md-subheader>
    <div ng-repeat="item in repos | filter:name">
      <md-button ng-click="repo.setName(item.name)"
                 ng-class="{'md-raised': item.name.toUpperCase() === name.toUpperCase()}">
        <md-list-item>
          <div class="md-list-item-text" layout="column">
            <p>
              <b>{{ item.name }}</b>
            </p>
          </div>
        </md-list-item>
      </md-button>
    </div>
  </md-list>
</div>